/* --Navbar-- */
*{
    margin:0px;
}
.font{
    font-family: 'Open Sans', sans-serif;
}
.spaceup
{
    margin:auto;
    margin-top: 80px;
    width:90%;
}
#navbar{
    position: sticky;
    top:0px;
    background-color: #10847e;
    border:1px solid transparent;
}
#upperNav{
    margin-top: 15px;
}
#upperNav>div:first-child{
    /* border: 1px solid red; */
    display: flex;
    width:90%;
    margin: auto;

}
#upperNav>div>img{
    width:180px
}
input{
    width:60%;
    margin-left: 5%;
    border-radius: 6px;
    border: 0px;
    
}
#lowerNav{
    color:white;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    font-family: 'Noto Sans', sans-serif;
    margin: auto;
}
#lowerNav>div:first-child{
    /* border:1px solid red; */
    display: flex;
    margin-left: 13%;
    
}
#lowerNav>div:first-child>div{
    padding:20px 15px 10px 20px
    /* border:1px solid red; */
}
.highlight
{
    position: relative;
    /* border:1px solid black; */
    height:3px;
    margin: 0px;
    top:10px;
    
}

#lowerNav>div>div:hover > .highlight
{
   background-color: white;
   transition: 350ms;
}
#lowerNav>div:nth-child(2)>div:hover > .highlight
{
   background-color: white;
}
#lowerNav>div:last-child{
    /* border:1px solid red; */
    display:flex;
    align-items: center;

}
#lowerNav>div:last-child>div{
    /* border:1px solid blue; */
    padding:22px;
    margin-bottom: -10px;
}
#login{
    display: flex;
}
#login+div{
    display: flex;
}
#login p,#login+div p{
    margin: auto;
}
/* --NavBarEnd-- */
#slider{
    border:1px solid red;
    height: 300px;
}
#cont1{
  /* border:1px solid grey; */
  margin: auto;
  margin-top: 40px;
  width:90%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
  height:200px;
}
.tophalf{
    /* border:1px solid red; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height:65%;
    background-color: #cff0ea;
}
#card,#card1,#card2
{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#cont1>div{
    /* border:1px solid blue; */
    border-radius: 10px;
}
#cont1 button{
    padding:15px 30px;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 35px;
    border-radius: 8px;
    color: white;
    border: 0px;
}
#card>div>button
{
    background-color: #3bb896;
}
#card1>div>button
{
    background-color: #fc8019;
}
#card2>div>button
{
    background-color: #00b9e1;
}
#strip{
    height: 100px;
    margin:auto;
    margin-top: 80px;
    width:90%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 20% 60% 15%;
    background-color: #a291fa;
    gap:10px;
    justify-content: space-between;
}
#strip>div>img:first-child{
     width: 85%;
     padding-top: 20px;
     margin-left: 30px;
}
#strip>div:nth-child(3){
    position: relative;
    bottom:64px;
}
#strip>div:nth-child(2){
    display: flex;
    /* align-items: center; */
    padding-top: 40px;
    color: white;
    font-size: 20px ;
    font-weight:bold ;
    font-family: 'Noto Sans', sans-serif;
}
.cardtext
{    
    color:#4f585e;
    display: block;
    font-size: 25px;
    font-weight: bold;
    width:70%;
    margin-left: 30px;
    font-family: 'Noto Sans', sans-serif;
}
.space
{
    height:46%;
}
#offerSlider{
    border:1px solid green;
    margin: 80px 10px;
    height: 100px;
}

#labtestStrip
{
    /* border:1px solid red; */
    height:300px;
    background-color: #d4e2fa;
}

#featuredslider
{
    border:1px solid green;
    margin-top: 80px;
    height:250px;
}
#dealsOfDay
{
    border:1px solid green;
    margin-top: 80px;
    height:350px;
}
#healthArticles
{
    border:1px solid green;
    margin:auto;
    margin-top: 80px;
    height:350px;
    width:90%;
    
}
#healthArticles>Div:first-child
{
    border:1px solid red;
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;

}
#imageStrip
{
    /* border:1px solid red; */
   
   display:grid;
   grid-template-columns: repeat(4,1fr);
   gap:20px;
}
#imageStrip>div>img+h1{
    font-size: 45px;
    color:#4f585e;
    margin-top: 25px;
}
#imageStrip>div>img+h1+p{
    margin-top: 20px;
    color:#4f585e;
    font-size: 20px;
}
#reviewstrip
{
    border:1px solid red;
    height:300px;
}
#reviewstrip>div>p
{
    font-size: 20px;
    font-weight: bold;
    color:#4f585e;
}
#download{
    /* border:1px solid red; */
    height:320px;
    width:100%;
    background-color: #f2f5f5;
    display: flex;
    justify-content: space-between;
}
#download>div>div{
    /* border:1px solid blue; */
    /* height:30%; */
    width:500px;
    margin-left: 80px;
}
#download>div>div
{
    font-size: 25px;
    font-weight: bolder;
    color:#4f585e;
}
#download>div>div:first-child
{
    
    height: 20%;
}
#download>div>div:nth-child(2)
{
    font-size: 26px;
    height: 30%;
}
#downloadImg
{
    height:100%;
    color:#4f585e;
}
#play-app-Store
{
    /* border:1px solid red; */
    /* height:20px; */
    /* margin: auto; */
    margin-top: 18px;
    display: flex;
    width:86%;
    justify-content: space-between;
}
#play-app-Store>div
{
    /* border:1px solid yellow; */
    width: 200px;;
}
#play-app-Store>div>img{
    width:100%;
}
